{
    "app_params": {
        "detectFlags": "face_240_detect",
        "faceModelName": "perfect2",
        "facetips": 1,
        "innerfilter": true
    },
    "dev_version": "10.4.0",
    "min_version": "10.4.0",
    "systemList": [
        "AnimSeqSystem",
        "BehaviorSystem",
        "CameraSystem",
        "EventSystem",
        "ScriptSystem",
        "Sprite2DRendererSystem",
        "TransformSystem",
        "MeshRendererSystem"
    ],
    "type": "amazing",
    "version": "0.1"
}